vti_encoding:SR|utf8-nl
vti_author:SR|kingls-PC\\kingls
vti_modifiedby:SR|ET\\student
vti_timelastmodified:TR|17 May 2016 14:51:46 -0000
vti_timecreated:TR|10 May 2016 04:10:30 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|default.html
vti_nexttolasttimemodified:TW|17 May 2016 14:34:09 -0000
vti_cacheddtm:TX|17 May 2016 14:34:09 -0000
vti_filesize:IR|657
