vti_encoding:SR|utf8-nl
vti_author:SR|kingls-PC\\kingls
vti_modifiedby:SR|ET\\student
vti_timelastmodified:TR|17 May 2016 14:51:47 -0000
vti_timecreated:TR|10 May 2016 03:10:37 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|mysite4/Stories/Story.html mysite4/About/About.html mysite4/Cats/Cats.html default.html mysite4/Dogs/Dogs.html mysite4/Contact/Contact.html
vti_nexttolasttimemodified:TW|17 May 2016 13:29:54 -0000
vti_cacheddtm:TX|17 May 2016 13:29:54 -0000
vti_filesize:IR|1126
